* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    color: #2d251d;
    background-color: #ebe1d9;
    color: #333;
    line-height: 1.6;
}

.contact {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    padding: 40px;
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

/* Contact form section */
.container-form h1 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 20px;
}

.container-form p {
    text-align: center;
    margin-bottom: 10px;
    font-size: 1.1rem;
}

form {
    margin-top: 20px;
}

form label {
    display: block;
    margin-bottom: 8px;
    font-size: 1rem;
}

form input,
form textarea {
    width: 100%;
    padding: 15px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
}

form textarea {
    resize: none;
    height: 150px;
}

form .btn {
    display: inline-block;
    background-color: #2d251d;
    color: white;
    border: none;
    padding: 12px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.1rem;
    transition: background-color 0.3s ease;
}

form .btn:hover {
    color: #2d251d;
    background-color: #D9BBA0;
}

/* Image section */
.contact-image img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

/* Responsive design */
@media (max-width: 768px) {
    .contact {
        grid-template-columns: 1fr;
        padding: 20px;
        gap: 20px;
    }

    .container-form h1 {
        font-size: 1.5rem;
    }

    form input,
    form textarea {
        font-size: 0.9rem;
        padding: 12px;
    }

    form .btn {
        font-size: 1rem;
        padding: 10px 15px;
    }
}
/* Validated 20/09/2024*/
